/**
 * file: style.css
 * purpose: styles, animation etc
 * further development: meyer reset perhaps?
 **/

/*------------ Her starter CSS for intro video ------------*/

/*------------ Her slutter CSS for intro video ------------*/


/*------------ Her starter CSS for kort ------------*/

/*------------ Her slutter CSS for kort ------------*/


/*------------ Her starter CSS for boomerang 1 ------------*/

/*------------ Her slutter CSS for boomerang 1 ------------*/


/*------------ Her starter CSS for interviews ------------*/

#content1 {
    display: flex;
    padding:5%;
    
}


#eleverne p {
    padding-right:5%;
    font-size:1.3em;
}

#eleverne h3 {

 font-size: 1.7em;
   padding-top:3%;
  
    
    
justify-content: center;}




#eleverne2 p {
    padding-left:5%;
    font-size:1.3em;
    
}

#eleverne2 h3 {

 font-size: 1.7em;
   padding-top:3%;
    padding-left:5%;

  
    
    
justify-content: center;}

/*------------ Her slutter CSS for interviews ------------*/


/*------------ Her starter CSS for boomerang 2 ------------*/

/*------------ Her slutter CSS for boomerang 2 ------------*/


/*------------ Her starter CSS for forventninger ------------*/

/*------------ Her slutter CSS for forventninger ------------*/


/*------------ Her starter CSS for adventurerace ------------*/

/*------------ Her slutter CSS for adventurerace ------------*/

/*------------ Her starter CSS for footer ------------*/

/*------------ Her slutter CSS for footer ------------*/
