/**
 * file: style.css
 * purpose: styles, animation etc
 * further development: meyer reset perhaps?
 **/

#content1 {
    display: flex;
    padding:5%;
    
}


#eleverne p {
    padding-right:5%;
    font-size:1.3em;
}

#eleverne h3 {

 font-size: 1.7em;
   padding-top:3%;
  
    
    
justify-content: center;}




#eleverne2 p {
    padding-left:5%;
    font-size:1.3em;
    
}

#eleverne2 h3 {

 font-size: 1.7em;
   padding-top:3%;
    padding-left:5%;

  
    
    
justify-content: center;}



