/**
 * file: style.css
 * purpose: styles, animation etc
 * further development: meyer reset perhaps?
 **/

#content1 {
    display: flex;
    padding:5%;
    
}

h1 {text-align: center;
padding-top:5%;}
h3 {padding-top:5%;}

p {padding-top:10%;}